:root {
    --color--whites: #fefefe;
    --color--transparent: #4d4d4d31;
    --color--blacks: #151515;
    --color--lime:  #ffea75;
    --color--limes:  #b3ff75;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: 100vh;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: "Oxygen", sans-serif;
    font-weight: 800;
    letter-spacing: 1rem;
    text-transform: uppercase;
    margin: 1rem;
    color: var(--color--lime);
}

.title span {
    margin-top: 0.5rem;
    color: var(--color--lime);
}

.tipCalculator {
    width: 40%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 2rem;
    overflow: hidden;
    background-color: var(--color--blacks);
    gap: 1rem;
    padding: 2rem;
}

.tipCalculator span {
    color: var(--color--lime);
}

.tipCalculator input {
    height: 8%;
    width: 90%;
    color: var(--color--lime);
    text-align: center;
    background-color: #202020;
}

.tipCalculator input::placeholder {
    text-align: center;
    opacity: 70%;
    color: var(--color--lime);
}

.calculate {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 1rem;
    border-radius: 1rem;
}

.calculateBtns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    width: 20rem;
}

.calculateBtns button {
    padding: 0.5rem;
    width: 6rem;
    border-radius: 0.5rem;
    background-color: var(--color--lime);
    font-weight: bold;
    color: var(--color--blacks);
}

.calculateBtns input {
    width: 6rem;
    border-radius: 0.5rem;
    background-color: var(--color--lime);
    font-weight: bold;
    color: var(--color--blacks);
    height: 2rem;
}

.calculateBtns input::placeholder {
    color: var(--color--blacks);
    padding: 1rem;
}

.calculateBtns input.ctive {
 color: red;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    border-radius: 1rem;
    background-color: var(--color--lime);
    overflow: hidden;
}

.results span,
p {
    color: var(--color--blacks);
}

.results button {
    background-color: #202020;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 80%;
    height: 15%;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color--lime);
}

.tipResults {
    padding: 1rem;
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}


.tipResults span {
    opacity: 50%;
}

.values {
    position: relative;
    top: -3.8rem;
    left: 6rem;
    font-weight: 900;
    font-size: 2rem;
}

.calculate img {
    position: relative;
    top: 4.5rem;
    left: 0.5rem;
}

.btnPercent.active {
    background-color: #303030;
    color: var(--color--lime);
}

.credits {
    background-color: var(--color--transparent);
    width: 100vw;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 97vh;
    color: var(--color--whites);
}

.credits a {
    color: var(--color--lime);
    font-weight: 600;
}

.credits a:hover {
    cursor: pointer;
    background-color: var(--color--whites);
    color: var(--color--blacks);
    border-radius: 0.5rem;
}

.credits button {
    position: absolute;
    right: 1rem;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.credits button:hover {
    scale: 1.1;
    transition: 0.4s;
}